body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

.login-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px; /* Increased width for better layout */
}

.login-container h2 {
    margin-bottom: 20px;
    color: #333; /* Dark grey color for better readability */
}

.login-container input[type="text"],
.login-container input[type="password"],
.login-container input[type="submit"] {
    width: calc(100% - 22px); /* Adjust width to account for padding and borders */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.login-container input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container input[type="submit"]:hover {
    background-color: #0056b3;
}

.error-message,
.successful-registration-message {
    font-weight: bold;
    margin-top: 10px;
    text-align: center; /* Center align messages */
}

.error-message {
    color: red;
}

.successful-registration-message {
    color: green;
}
