<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <title>GameVault</title>
</head>
<body>
<div class="container">
    <h2>Error</h2>

    <!-- Message for successful logout -->
    <p>An unexpected error occurred. Please login or register.</p>

    <a th:href="@{/gamer/login}">Login</a>
    <a th:href="@{/gamer/registration}">Register</a>
</div>
</body>
</html>
