<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
    <link rel="stylesheet" type="text/css" href="/static/css/messages.css">
    <link rel="stylesheet" type="text/css" href="/static/css/side-navigation-bar.css">
    <link rel="stylesheet" type="text/css" href="/static/css/video-game-table.css">
    <title>Reservations</title>
</head>
<body>

<!-- Sidebar -->
<div th:replace="~{gamer-side-navigation-bar :: sidebar}"></div>

<div class="container content my-5">
    <h1>Reservations</h1>
    <p>Total Credits: <span th:text="${totalCredits}"></span></p>
    
    <!-- Error and Success Messages -->
    <div th:if="${error != null}" class="error">
        <p th:text="${error}"></p>
    </div>

    <div th:if="${success != null}" class="success">
        <p th:text="${success}"></p>
    </div>

    <div class="video-game-table">
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Creator</th>
                <th>Quantity Reserved</th>
                <th>Cost</th>
                <th>Paid Credits (Non-refundable)</th>
                <th>Credits Payable</th>
                <th>Reservation Date</th>
                <th>Purchase By</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reservation: ${reservations}">
                <td th:text="${reservation.title}"></td>
                <td th:text="${reservation.creator}"></td>
                <td th:text="${reservation.quantity}"></td>
                <td th:text="${reservation.cost}"></td>
                <td th:text="${reservation.creditsPaid}"></td>
                <td th:text="${reservation.creditsToPay}"></td>
                <td th:text="${reservation.transactionDateTime}"></td>
                <td th:text="${reservation.latestPurchaseDate}"></td>
                <td>
                    <!-- Buy Form -->
                    <form th:action="@{/gamer/reservations/buy}" method="post">
                        <input type="hidden" th:name="reservationId" th:value="${reservation.id}" />
                        <button type="submit" class="btn btn-primary">Buy</button>
                    </form>

                    <!-- Cancel Form -->
                    <form th:action="@{/gamer/reservations/cancel}" method="post">
                        <input type="hidden" th:name="reservationId" th:value="${reservation.id}" />
                        <button type="submit" class="btn btn-cancel">Cancel</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>
